<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.tingshu.album.mapper.BaseAttributeMapper">

<!--    自定义返回接口-->
    <resultMap id="baseAttributeMap" type="com.atguigu.tingshu.model.album.BaseAttribute" autoMapping="true">
<!--        主键对应关系-->
        <!--id:表示主键 property：表示实体类的属性名
        column：表示通过sql 执行以后查询出来的字段名-->
        <id column="id" property="id"></id> <!--autoMapping 是 MyBatis 里的一个配置也就是数据库字段和 Java 对象属性名能对上的时候，MyBatis 自动帮你赋值。-->

        <!--result : 表示映射普通字段-->
        <!--<result property="" column=""></result>-->
        <!--mybatis 如何配置一对多-->
        <!--ofType : 返回的数据类型-->
        <collection property="attributeValueList"
                    ofType="com.atguigu.tingshu.model.album.BaseAttributeValue"
                    autoMapping="true">
            <!--如果有字段重复则起别名-->
        <id column="attribute_value_id" property="id"></id>
        </collection>
    </resultMap>

    <select id="selectAttribute" resultMap="baseAttributeMap">
        select
            ba.id,
            ba.attribute_name,
            ba.category1_id,
            bv.id attribute_value_id,
            bv.value_name,
            bv.attribute_id
        from
            base_attribute ba inner join base_attribute_value bv on ba.id=bv.attribute_id
        where category1_id=#{category1Id}
        order by ba.id
    </select>
</mapper>

